section.dich-vu
	.container
		h2.title Dịch vụ
		.row
			-for(i = 0; i < 6; i++)
				.col-md-6.col-lg-4
					.dich-vu-item
						.box-img
							a(href='#')
								img(src='./img/dich-vu/h-1.jpg', alt='1')
						.info
							p
								a(href='#') Bài viết Facebook ads, quảng cáo sản phẩm