section.home-gioi-thieu
	.container
		h2.title Giới thiệu
		.row.d-flex.align-items-center
			.col-md-6
				.content
					h3 Content chính là cầu nối, là phương tiện dẫn dắt khách hàng đến với doanh nghiệp.
					p Đó chính là lý do Dịch vụ content ra đời, với mong muốn các bài viết content luôn đạt chuẩn SEO, nội dung sáng tạo và ngôn ngữ gần gũi với khách hàng, đồng thời mang lại giá trị tối đa cho doanh nghiệp qua những bài viết content.
					p Dịch vụ Content với đội ngũ viết content chuyên nghiệp, bất kể doanh nghiệp bạn làm gì, dự án ra sao, chúng tôi đều có thể viết nên những bài viết đảm bảo chất lượng, viết mới 100% với ý tưởng linh hoạt và truyền đạt được thông điệp đến khách hàng.
				a(href="#").btn-xemthem Xem thêm
			.col-md-6
				.content
					img(src="./img/home/h-0.png", alt="1")