section.home-tab
	.container
		.row.no-gutters
			.col-md-4.col-lg-2
				.item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/icon/icon-1.png", alt="")
							figcaption
								p Bài Fanpage Social
			.col-md-4.col-lg-2
				.item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/icon/icon-2.png", alt="")
							figcaption
								p Bài viết chuẩn SEO
			.col-md-4.col-lg-2
				.item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/icon/icon-3.png", alt="")
							figcaption
								p Bài viết Facebook ads, quảng cáo sản phẩm
			.col-md-4.col-lg-2
				.item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/icon/icon-4.png", alt="")
							figcaption
								p Bài báo, quảng bá sản phẩm, PR thương hiệu
			.col-md-4.col-lg-2
				.item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/icon/icon-5.png", alt="")
							figcaption
								p Landing page bán hàng trực tuyến
			.col-md-4.col-lg-2
				.item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/icon/icon-6.png", alt="")
							figcaption
								p Bài PR đăng website