section.lien-he
	h2.title liên hệ
	.container
		.row
			.col-lg-4
				.item
					.box-img
						a(href='#')
							img(src='./img/lien-he/h-1.png', alt='1')
					.info
						h4 Địa chỉ
						p LL1G Ba Vì, Phường 5, Quận 10, Thành phố Hồ Chí Minh
			.col-lg-4
				.item
					.box-img
						a(href='#')
							img(src='./img/lien-he/h-2.png', alt='1')
					.info
						h4 Hotline
						p Gọi ngay cho chúng tôi
						b 098 193 5440
			.col-lg-4
				.item
					.box-img
						a(href='#')
							img(src='./img/lien-he/h-3.png', alt='1')
					.info
						h4 Email
						p contact@dichvucontents.com
		.row
			.col-lg-6
				.form-container
					h3 Điền thông tin tại đây
					p Quý khách vui lòng điền thông tin vào mẫu bên dưới và gửi những góp ý, thắc mắc cho Dịch vụ Content, chúng tôi sẽ phản hồi email của Quý khách trong thời gian sớm nhất.
					.wrap-form
						.row
							.col-md-6.form-group
								input(type="text" placeholder="Họ và tên...")
							.col-md-6.form-group
								input(type="text" placeholder="Email...")
							.col-md-6.form-group
								input(type="text" placeholder="Tiêu đề...")
							.col-md-6.form-group
								input(type="text" placeholder="Số điện thoại...")
							.col-md-12.form-group
								textarea(placeholder="Nhập nội dung...")
					.form-group.frm-captcha
						.frm-captcha-input
							label.label Nhập mã hiển thị
							input(name="" type="text" maxlength="5")
						.RadCaptcha.RadCaptcha_Default(style="width:50%;")
							span(style="visibility:hidden;") Mã không đúng.
							span Mã không đúng.
							div
								div
									img(alt="" src="./img/lien-he/capcha.jpg" style="height:50px;width:180px;display:block;")
									a.rcRefreshImage(title="Hình ảnh mới" style="display:block;") Hình ảnh mới
							input(type="hidden")
					.form-group.frm-btnwrap
						label.label  
						.frm-btn
							input.btn.btn-default.frm-btn-submit(type="submit" value="Gửi")
							input.btn.btn-default.frm-btn-reset(type="reset" value="Xóa")
							input(type="hidden")
			.col-lg-6
				.map-container
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3930323793934!2d106.66277561417176!3d10.781179662055532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f04da1cafdf%3A0x5e04042341053804!2zQ8O0bmcgVHkgVEhISCBE4buLY2ggVuG7pSBDb250ZW50!5e0!3m2!1svi!2s!4v1558577138829!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0" allowfullscreen="")