section.home-cam-nhan
	.container
		h2.title Cảm nhận của khách hàng
		.box-img
			img(src="./img/logo-1.png", alt="1")
		.swiper-container
			.swiper-wrapper
				-for(i = 0; i < 3; i++)
					.swiper-slide
						.complaint
							| “ Chúng tôi đã có khoảng thời gian hợp tác đáng nhớ với Dịch Vụ Content,
							br
							| bất cứ lúc nào chúng tôi cần bài viết mới, với những yêu cầu và ý tưởng
							br
							| sẵn có, chúng tôi luôn nhận được những bài viết hoàn toàn sáng tạo. ”
						.article Chị Nguyễn Thị Thơ - Chủ shop Online
		.pagination