section.about-doi-ngu
	.container
		h2.title Đội ngũ
		.swiper-container
			.swiper-wrapper
				-for(i = 0; i < 3; i++)
					.swiper-slide
						.news-item
							.box-img
								a(href="#")
									img(src='./img/about/h-1.png', alt='./img')
							.info
								h4 Trần Quốc Hùng
								p Chief Executive Officer
		.navigation
			.btn-prev.mdi.mdi-chevron-left
			.btn-next.mdi.mdi-chevron-right
		.pagination