extends _layout.pug

block var
	- var title = 'dich-vu-ct'
	- var bodyClass = 'dich-vu-ct-page'

block main
	include ../components/banner/banner-about/index
	include ../components/breadcrumb/index
	include ../components/dich-vu-ct/seo/index
	include ../components/dich-vu-ct/goi-dich-vu/index
	include ../components/dich-vu-ct/buoc-thuc-hien/index
	include ../components/home/doi-tac/index