extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	include ../components/banner/banner-home/index
	include ../components/home/tab/index
	include ../components/home/ly-do-chon/index
	include ../components/home/gioi-thieu/index
	include ../components/home/cam-nhan/index
	include ../components/home/tin-tuc/index
	include ../components/home/doi-tac/index