header
	.container
		.row
			.col-12
				.desktop
					.d-logo
						a(href="#")
							img(src="./img/logo.png", alt="1")
					.d-navbar
						ul
							li.active
								a(href="#") Trang chủ
							li
								a(href="#") Giới thiệu
							li
								a(href="#") Dịch vụ
							li
								a(href="#") Tin tức
							li
								a(href="#") Liên hệ
					.d-language
						.language-wrap.position-relative
							.current
								img(src="./img/flag.png", alt="flag")
							.language-list
								.item
									a(href="#")
										img(src="./img/flag.png", alt="flag")
								.item
									a(href="#")
										img(src="./img/flag.png", alt="flag")
					.d-search
						em.fas.fa-search.btn-search
						.searchbox
							input.searchinput(type="text" placeholder="Tìm kiếm")
							button.searchbutton
								em.fas.fa-search
			.col-12
				.mobile
					.m-language
					.m-logo
						a(href="#")
							img(src="./img/logo.png", alt="1")
					.m-hamburger
						.button
			.m-navbar
				.nav
				.searchbox
					input.searchinput(type="text" placeholder="Tìm kiếm")
					button.searchbutton
						em.fas.fa-search
				.backdrop