footer
	.container
		.row 
			.col-md-4
				.footer-item
					.box-img
						img(src="./img/logo-footer.png", alt="")
					.link
						p LL1G Ba Vì, Phường 5, Quận 10, Thành phố Hồ Chí Minh
						a(href="javascript:void(0)") Hotline: 098 193 5440 
						a(href="javascript:void(0)") Email: contact@dichvucontents.com
			.col-md-4
				.footer-item 
					h4 Giới thiệu
					.link
						a(href="javascript:void(0)") Tổng quan 
						a(href="javascript:void(0)") Tầm nhìn - Sứ mệnh 
						a(href="javascript:void(0)") Tại sao chọn chúng tôi
						a(href="javascript:void(0)") Cơ cấu tổ chức
						a(href="javascript:void(0)") Tuyển dụng 
			.col-md-4
				.footer-item
					h4 Dịch vụ Content
					.link
						a(href="javascript:void(0)") Bài Fanpage Social
						a(href="javascript:void(0)") Bài viết chuẩn SEO
						a(href="javascript:void(0)") Bài viết Facebook ads, quảng cáo sản phẩm.
						a(href="javascript:void(0)") Bài báo, quảng bá sản phẩm, PR thương hiệu
						a(href="javascript:void(0)") Landing page bán hàng trực tuyến
						a(href="javascript:void(0)") Bài PR đăng website
	.subscribe-container
		.container
			.row.d-flex.align-items-center
				.col-md-4
					h5 Đăng ký nhận bản tin 
					p Kết nối với chúng tôi để nhận được thông tin mới nhất.
				.col-md-4
					.subscribe
						div
							.subscribefrm
								input.subscribeemail(type="text" placeholder="Địa chỉ email")
								button.subscribebutton Đăng ký
								span.fa.fa-exclamation-triangle(style="display:none;") Vui lòng nhập email.
								span.fa.fa-exclamation-triangle(style="display:none;") Email không hợp lệ.
				.col-md-4
					.social-container
						.item
							a(href="#")
								img(src="img/icon/facebook.png", alt="img/icon/facebook.png")
						.item
							a(href="#")
								img(src="img/icon/youtube.png", alt="img/icon/youtube.png")
						.item
							a(href="#")
								img(src="img/icon/google-plus.png", alt="img/icon/google-plus.png")
	.copyright
		.container
			.row
				.col-md-6.d-flex.align-items-center
					a(href="#") Điều khoản sử dụng
					a(href="#") Chính sách bảo mật
					a(href="#") Sitemap
				.col-md-6
					p Copyright © 2018 Dịch vụ Content. All right reserved. Designed by Cánh Cam.
