section.dichvuct-dich-vu
	h2.title Gói dịch vụ
	.container
		.item
			.box-img
				a(href='#')
					img(src='./img/dich-vu-ct/h-2.png', alt='1')
			.info
				h4
					a(href='#') 100 bài SEO 600 từ
		.item
			.box-img
				a(href='#')
					img(src='./img/dich-vu-ct/h-3.png', alt='1')
			.info
				h4
					a(href='#') Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, doloremque!
		.item
			.box-img
				a(href='#')
					img(src='./img/dich-vu-ct/h-4.png', alt='1')
			.info
				h4
					a(href='#') Bài lẻ SEO 600 từ