section.dichvuct-thuc-hien
	.container
		h2.title Các bước thực hiện
		.row
			-for(i = 0; i < 4; i++)
				.col-lg-3
					.item
						.box-img
							a(href='#')
								img(src='./img/dich-vu-ct/h-5.png', alt='1')
						.info
							span.counter
							h4
								a(href='#') Lấy thông tin:
							p Thông tin được cập nhật từ những nguồn mới nhất trên thị trường chúng tôi nghiên cứu các từ khóa tốt nhất để đảm bảo quá trình viết bài đạt chuẩn
