.home-ly-do-chon
	background: url("../img/banner/b-1.png")
	padding-top: 200px
	padding-bottom: 60px
	text-align: center
	.title
		font-weight: 700
		color: #333
		font-size: 30px
	.item
		margin-top: 30px
		figcaption
			color: #666666
		h3
			margin-bottom: 15px
			font-size: 18px
			color: #333
	@media (max-width: 997.98px)
		padding-top: 385px
	@media (max-width: 767.98px)
		padding-top: 577px
		.item
			margin-top: 10px
			h3
				font-size: 16px
				margin-bottom: 10px
	@media (max-width: 575.98px)
		padding-top: 1155px