section.home-ly-do-chon
	.container
		h2.title Lý do chọn
		.row
			.col-md-4
				.item
					.box-img
						a(href='#')
							img(src="./img/icon/icon-7.png", alt="")
					.info
						h3 Bài viết mới 100%
						a(href='#') Thường xuyên cập nhật nội dung mới cho website là cách hiệu quả và bền vững nhất để nâng cao thứ hạng từ khóa.
			.col-md-4
				.item
					.box-img
						a(href='#')
							img(src="./img/icon/icon-8.png", alt="")
					.info
						h3 Tối ưu từ khóa theo chuẩn SEO
						a(href='#') Nội dung bài viết tốt, hấp dẫn sẽ kích thích độc giả quan tâm, chú ý tới website của bạn nhiều hơn.
			.col-md-4
				.item
					.box-img
						a(href='#')
							img(src="./img/icon/icon-9.png", alt="")
					.info
						h3 Chất lượng bài viết mang
							br
							| lại giá trị thực sự
						a(href='#') Nội dung là yếu tố có vai trò không thể thay đổi dù cho các công cụ tìm kiếm cập nhật thuật toán.