section.home-doi-tac
	.container
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.box-img
						img(src="./img/home/h-4.png", alt="")
				.swiper-slide
					.box-img
						img(src="./img/home/h-5.png", alt="")
				.swiper-slide
					.box-img
						img(src="./img/home/h-6.png", alt="")
				.swiper-slide
					.box-img
						img(src="./img/home/h-7.png", alt="")
		.navigation
			.btn-prev.mdi.mdi-chevron-left
			.btn-next.mdi.mdi-chevron-right
		.pagination