section.banner-home
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.box-img
					img(src="./img/banner/b-2.jpg", alt="banner-2")
				.container
					.row
						.col
							.caption
								p Bạn cần một bài viết chuẩn
									br
									b SEO
									|, chúng tôi sẽ đáp ứng
									br
									| hơn cả sự mong đợi
			.swiper-slide
				.box-img
					img(src="./img/banner/b-3.jpg", alt="banner-3")
			.swiper-slide
				.box-img
					img(src="./img/banner/b-4.jpg", alt="banner-4")
	.pagination